<div class='nested-fields'>

  <div class='field'>
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>

  <div class='field'>
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class='field'>
    <%= f.label :complement %>
    <%= f.text_field :complement %>
  </div>

  <div class='field'>
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
  </div>

  <%= link_to_remove_association t('addresses.remove'), f %>
</div>