<p>
  <%= link_to t('models.credit_solicitation.create', scope: :activerecord), new_applicant_credit_solicitation_path(@applicant) %>
  <%= @applicant.social_name %><br/>
  <%= @applicant.cnpj %><br/>
  <% @applicant.phones.each do |phone| %>
    <%= phone.number %><br/>
  <% end %>
  <% @applicant.addresses.each do |address| %>
    <%= address.street %><br/>
    <%= address.number %><br/>
    <%= address.complement %><br/>
  <%end %>
  <p>
  <% @applicant.credit_solicitations.each do |credit| %>
    <%= number_to_currency(credit.value) %>
    <%= credit.plots_amount %>
    <%= number_to_currency(credit.value_with_rate) %>
    <% credit.plots.each do |plot| %>
      <p>
      <%= plot.payment_day.strftime('%d/%m/%y') %>
      <%= number_to_currency(plot.value) %>
      </p>
    <% end %>
  <% end %>
  </p>
</p>