<!DOCTYPE html>
<html>
  <head>
    <title>NexoosChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= "#{controller.controller_name}-#{controller.action_name}" %>">
    <% if !notice.nil? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if !alert.nil? %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <main>
      <div class='side-bar'>
        <div class='circle'></div>
          <%= link_to t('models.applicant.create', scope: :activerecord), new_applicant_path, class: 'new-applicant' %>
          <%= link_to t('models.applicant.index', scope: :activerecord), applicants_path, class: 'applicant-index' %>
          <%= link_to t('shared.links.sign_out', scope: :devise), destroy_user_session_path, method: :delete, class: 'destroy-session' %>
          <%= image_tag  "Logo_white.png" %>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
